<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expense_Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/29.1.33/material.css" /> *@
    <link href="https://cdn.syncfusion.com/ej2/29.1.33/bootstrap5-dark.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/29.1.33/dist/ej2.min.js"></script>
    <style>
        .e-btn-group input:checked + label.e-btn {
            background-color: white;
            color: #212b36;
            border: 1px solid white;
            box-shadow: none !important;
        }

        label.e-btn {
            background-color: rgb(34 43 51);
        }
    </style>
</head>
<body class="e-bigger">

    <partial name="_SideBar" />

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3 justify-content-center" style="background-color:#12161d;">
            @if (ViewBag.Title != "DashboardIndex")
            {
                <div>
                    <div class='e-btn-group'>
                        <input type="radio" id="radiocategory" name="Type" value="Category" onclick="location.href='/Categories/'" />
                        <label class="e-btn" for="radiocategory">Category</label>
                        <input type="radio" id="radiotxn" name="Type" value="Transaction" onclick="location.href='/Transactions/'" />
                        <label class="e-btn" for="radiotxn">Transaction</label>
                    </div>
                </div>
            }
        </nav>
    </header>
    <div class="container mt-5" style="margin-left:270px;">
        <div class="row justify-content-center">
            <div class="@(ViewBag.Title=="DashboardIndex"?"col-md-12":"col-md-10")">
                <main role="main" class="pb-3">
                    @if (ViewBag.Title != "DashboardIndex")
                    {
                        @if (ViewData["Title"] == "CategoryIndex")
                        {
                            <div class="row mb-3">
                                <div class="col-md-7">
                                    <h3 class="fw-bold">Categories</h3>
                                </div>
                                <div class="col-md-5">
                                    <a class="btn" href="/Categories/Save" style="background-color:#cf12c3; color:#12161d;">+ Add New Category</a>
                                </div>
                            </div>
                        }
                        @if (ViewData["Title"] == "TransactionIndex")
                        {
                            <div class="row mb-3">
                                <div class="col-md-7">
                                    <h3 class="fw-bold">Transactions</h3>
                                </div>
                                <div class="col-md-5">
                                    <a class="btn" href="/Transactions/Save" style="background-color:#cf12c3; color:#12161d;">+ Add New Transaction</a>
                                </div>
                            </div>
                        }
                        <ejs-breadcrumb id="breadcrumb"
                                        separatorTemplate="@Html.Raw("<span class='fa-solid fa-angle-right'></span>")"
                                        class="mb-3"></ejs-breadcrumb>

                    }
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
