


<ejs-sidebar id="sidebar" width="250px" class="widget">
	@* <e-content-template> *@
	@* 	<div class="title-header"> *@
	@* 		<div style="display:inline-block"> Sidebar </div> *@
	@* 	</div> *@
	@* </e-content-template> *@
</ejs-sidebar>
